.welcome-body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#welcome-container {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.main-title {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  text-align: right;
  padding-right: 15px;
  white-space: nowrap;
  padding-bottom: 2px;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.login_input {
  width: 250px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  max-width: 250px;
  padding-left: 20px;
  height: 40px;
  box-sizing: border-box;
}

.login_table {
  margin: 0 auto;
  margin-top: 0px;
  border-collapse: separate;
  border-spacing: 0 30px;
  padding-bottom: 20px;
}

.save_btn {
  background-color: rgb(64, 219, 219);
  color: black;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  width: 75%;
  max-width: 150px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

.button:hover {
  background-color: #f0f0f0;
}
