.welcome-body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#welcome-container {
  text-align: center;
  padding-top: 100px;
}

.main-title {
  margin-bottom: 60px;
  font-size: 42px;
}

.section-title {
  margin: 20px 0 10px 0;
  font-size: 30px;
}

.user-section {
  margin: 30px 0;
  margin-bottom: 2em;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 30px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 10px;
  width: 75%;
  max-width: 150px;
  display: inline-block;
  text-align: center;
}

.button:hover {
  background-color: #f0f0f0;
}
